$landscape: 550px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;

/*
@media only screen and (min-width: 768px){
    header{
        background-size: cover;
    }
}

@media only screen and (min-width: 992px){
    header{
        background-image: url("https://bmw.scene7.com/is/image/BMW/the-first-ever-bmw-iX1:1to1?fmt=webp&wid=1024&hei=1024");
        background-size: cover;
    }
}

@media only screen and (min-width: 1200px){
    header{
        background-image: url("https://bmw.scene7.com/is/image/BMW/the-first-ever-bmw-iX1:1to1?fmt=webp&wid=1024&hei=1024");
        background-size: cover;
    }
}*/